<header class="headers">
			<div class="header_left"></div>
			<div class="header_logo"><a href="/" class="button_root">
				<div class="button_root1">
					<img src="../../assets/images/logo.png" alt="logo" width="55" height="65" >
				</div>
				Book Rack
			</a>
		</div>
		<div class="header_right">
			<div class="signup">
				<a class="button_color" href="">Signed User : <span class = "orange"><%= firstname%></span></a>
			</div>
		</div>
		</header>
