<div class="topnav">
			<ul id="nav">
  				<li><a href="/logout">Log Out</a></li>
  				<li><a href="/myItems">My Books</a></li>
  				<li><a href="/updateBook">Update your Book</a></li>
			</ul>
		</div>
