<div class="secondys">
    <nav id="leftnav">
      <h2>All Categories</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/store">Store</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">ContactUs</a></li>
        </ul>
    </nav>
  </div>
