<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Book Rack</title>
<link rel="icon" type="image/ico" href="/assets/images/logo.png">
   <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
   <script type="text/javascript" src="/assets/javascript/modernizr.js"></script>
   <script type="text/javascript" src="/assets/javascript/imagbg.js"></script>
</head>
<body>

  <div class="first">
	<div class="st st1 st2">


        <% if(login.length!=0){%>
          <% include ./partials/headerLogin.ejs %>
          <% include ./partials/logout.ejs %>
      <% }
      else{%>
        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
      <% }%>
       <% include partials/site-navigation.ejs %>
		<div class="absolute">
			<main>
				<section>
					<ul class="breadcrumb">
  						<li><a href="/">Home</a></li>
  						<li></li>
					</ul>

					<article id="backgroundclip">

						<h2 class="welcome">Welcome to Book Rack!!</h2>

						<p> Here we have everything that a student needs. Look at your wide spread of libraries.</p>
						<p> Millions of cheap used books are offered for sale online by bookstores and booksellers on the Book Rack marketplace. Our prices start at just $1 plus shipping and there is a huge selection of cheap secondhand books — hardcover and softcover — just waiting for a new home.</p>

					</article>

				</section>
			</main>
		</div>

<% include partials/footer.ejs %>

	</div>
</div>

</body>
</html>
