<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Book Rack</title>
<link rel="icon" type="image/ico" href="/assets/images/logo.png">
   <link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
   <script type="text/javascript" src="/assets/javascript/modernizr.js"></script>
   <script type="text/javascript" src="/assets/javascript/imagbg.js"></script>
</head>
<body>

  <div class="first">
	<div class="st st1 st2">


        <% if(login.length!=0){%>
          <% include ./partials/headerLogin.ejs %>
          <% include ./partials/logout.ejs %>
      <% }
      else{%>
        <% include ./partials/header.ejs %>
        <% include ./partials/user-navigation.ejs %>
      <% }%>
       <% include partials/site-navigation.ejs %>

    <div class="absolute">

      <main>
        <section>
          <ul class="breadcrumb">
              <li><a href="/">Home</a></li>
              <li></li>
          </ul>

          <article id="backgroundclip">

            <h2 class="welcome">Welcome to Book Rack!!</h2>
            <h4 style="color:red;"><%= alert %></h4>

            <form class="forms" method="post" action="/register" >

            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Email Address</span>
            <input class="input100" style="width: 28%; height: 28%;" type="text" name="email" placeholder="Please Enter Your User Id" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Password</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="password" name="password" placeholder="Please Enter Your Password" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">First Name</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="fname" placeholder="Please Enter Your First Name" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Last Name</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="lname" placeholder="Please Enter Your Last Name" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Address Line 1</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="line1" placeholder="Please Enter Your Address Line 1" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Address Line 2</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="line2" placeholder="Please Enter Your Address Line 2" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">City</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="city" placeholder="Please Enter Your City" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">State</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="state" placeholder="Please Enter Your State" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Postal Code</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="postal" placeholder="Please Enter Your Postal Code" required>
            <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 validate-input" data-validate="Name is required">
            <span class="label-input100">Country</span>
            <input class="input100" style="width: 28%;  height: 28%;" type="text" name="country" placeholder="Please Enter Your Country" required>
            <span class="focus-input100"></span>
            </div>

            <input type="submit"	 name="Register"/>

          </form>

        </article><br><br><br><br><br><br>

        </section>
      </main>

    </div>


<% include partials/footer.ejs %>
</div>
</div>
</body>
</html>
